{% extends 'base.html' %}

{% block title %}
  S'enregistrer
{% endblock %}

{% block content %}
  <div class="content-register">
    <div>
      <form method="post">
        <label for="username">Nom d'utilisateur</label>
        <input name="username" id="username" required>
        <label for="password">Mot de passe</label>
        <input type="password" name="password" id="password" required>
        <input type="submit" value="S'enregistrer">
      </form>
    
      {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
      {% endfor %}
    </div>
  </div>
{% endblock %}