/*
-----------------   DEFAULT CSS RULES NOT TO REMOVE ------------------
*/
/* 1. Use a more-intuitive box-sizing model. */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Remove built-in form typography styles */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  /* 8. Remove bullet point from list  */
  ul{
    list-style-type: none;
  }

  /*
-----------------   ADD YOUR CSS RULES BELOW ------------------
*/

header{
    height: 100px;
}

#header-nav{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

#header-nav-logo{
    width:20%;
    display: flex;
}

#header-nav-logo>a{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#header-nav-logo img{
    width: 100%;
}

#header-nav-menu{
    width: 80%;
    padding-right: 100px;
}

#header-nav>ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 100px;
}

#header-nav li a:hover{
    font-weight: bold;
}

#header-nav a{
    color: #797a7a;
    text-decoration: none;
}

#footer-nav {
    background-color: #2235a5;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

#footer-nav p{
    color: white;
}

.content-index, .content-404, .content-register, .content-profile{
    height:80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-index h1{
    text-align: center;
}

.content-profile-title{
    display: block; 
    text-align:center;
}




